# kubectl run nginx-pod --image=nginx:1.27.0 --labels="app=nginx" --port=80
apiVersion: v1
kind: Pod
metadata:
  name: nginx-pod
  labels:
    app: nginx
spec:
  containers:
  - name: nginx-container
    image: nginx:1.27.0-alpine
    ports:
    - containerPort: 80

---

# kubectl expose pod nginx --type=NodePort --name=nginx-service --port=80 --target-port=80
# kubectl apply -f KUBERNETES/OBJECT-MGMT/nginx-svc.yaml
# kubectl get svc nginx-service
# kubectl describe svc nginx-service

apiVersion: v1
kind: Service
metadata:
  name: nginx-service
  labels:
    app: nginx
spec:
  type: NodePort
  ports:
  - port: 80
    protocol: TCP
    targetPort: 80
  selector:
    app: nginx