# kubectl run nginx-pod --image=nginx:1.27.0 --labels="app=nginx" --port=80
apiVersion: v1
kind: Pod
metadata:
  name: nginx-pod
  labels:
    app: nginx
spec:
  containers:
  - name: nginx-container
    image: nginx:1.27.0-alpine
    ports:
    - containerPort: 80
