apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deploy
  annotations:
    example.com/maintainer: first deployment
  labels:
    app: app-cache
spec:
  replicas: 5
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
  selector:
    matchLabels:
      app: app-cache
  template:
    metadata:
      annotations:
        example.com/maintainer: first deployment
      labels:
        app: app-cache
    spec:
      containers:
      - name: nginx
        image: nginx:1.27.0
        ports:
        - containerPort: 80